section {
  background: rgba(0, 0, 0, 0.917);
  display: inline-grid;
  justify-content: center;
  align-items: center;
  margin: 93px;
  padding: 69px;
  max-height: 400px;
  contain: inherit;
  overflow: auto;
  border-radius: 6px;
}

button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
