.controls-container {
  position: relative;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.controls-container button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.controls-container button:hover {
  background-color: rgba(0, 123, 255, 1);
}

.controls-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
